@import '../../../../assets/color-palettes/main-colors.scss';

.header-main-container {
    position: fixed;
    height: 60px;
    background-color: $light-mat-turquoise;
}

.side {
    height: inherit;
    display: inline-block;
    width: 7%;
}

.header-content {
    height: inherit;
    display: inline-block;
    width: 93%;
}

.profile-button {
    background-color: $dark-blue;
}