<div class="header-main-container w-100">
    <div class="header-content header-container">
        <button class="app-title menu-option">
            Async
        </button>
        <button class="menu-option">
            Shop
        </button>
        <button class="menu-option">
            Contact
        </button>
        <button class="menu-option">
            Privacy
        </button>
    </div>
    <div class="side profile-button header-container">
        <div class="profile-picture">

        </div>
    </div>
</div>