<div class="main-container w-100">
    <div class="main-site-container">
        <div class="big-box-of-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Morbi leo urna molestie at elementum eu. Porttitor eget dolor morbi non. 
            Quam id leo in vitae turpis massa sed elementum tempus. 
            Enim sit amet venenatis urna cursus. Vulputate sapien nec sagittis 
            aliquam malesuada bibendum. Bibendum enim facilisis gravida neque. 
            Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna. 
            Enim facilisis gravida neque convallis a cras semper auctor. 
            Fringilla phasellus faucibus scelerisque eleifend donec pretium. 
            Ut sem viverra aliquet eget sit. Amet aliquam id diam maecenas. 
            Morbi leo urna molestie at elementum eu facilisis sed odio. 
            Habitasse platea dictumst quisque sagittis purus sit. 
            Praesent tristique magna sit amet purus gravida quis. 
            Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras. 
            Elit at imperdiet dui accumsan sit amet nulla facilisi morbi.

            Morbi tempus iaculis urna id volutpat lacus laoreet. 
            Vitae et leo duis ut. Dui nunc mattis enim ut tellus elementum sagittis vitae. 
            Molestie nunc non blandit massa enim nec dui. Eu lobortis elementum nibh tellus 
            molestie nunc. Dictum sit amet justo donec enim diam.
        </div>
        <div class="big-box-of-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Scelerisque viverra mauris in aliquam. Etiam dignissim diam quis enim. 
            Viverra accumsan in nisl nisi scelerisque eu ultrices. In massa tempor nec feugiat. 
            Molestie at elementum eu facilisis sed odio. Ultrices mi tempus imperdiet nulla 
            malesuada pellentesque. A erat nam at lectus urna duis convallis. Turpis 
            in eu mi bibendum neque egestas congue quisque. Orci ac auctor augue mauris 
            augue neque gravida in fermentum. Feugiat vivamus at augue eget.
        </div>
    </div>
    <div class="below-heading">
        <span>
            Lorem ipsum dolor sit amet
        </span>
    </div>
</div>