@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import './assets/color-palettes/main-colors.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-container {
    min-height: 70vw;
    background-color: $very-light-gray;
}